LightsaveUI complete.json
[{"id":"11af5c00.92aa14","type":"tab","label":"Monitor_Response","disabled":false,"info":""},{"id":"2ac5df20.c9828","type":"mqtt in","z":"11af5c00.92aa14","name":"Gateway Response","topic":"Iqrf/DpaResponse","qos":"2","datatype":"auto","broker":"69493158.a89b1","x":130,"y":140,"wires":[["2954c31.6448b3c"]]},{"id":"2954c31.6448b3c","type":"json","z":"11af5c00.92aa14","name":"","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["20764445.8cf82c","1ce5246a.4e61ac","eb102cc0.10fc4"]]},{"id":"1ce5246a.4e61ac","type":"function","z":"11af5c00.92aa14","name":"IQRFtoJSON","func":"var response=msg.payload.response.split(\".\");\nvar request=msg.payload.request.split(\".\");\n\nvar data={\n    type: \"\",\n    request: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\"\n    },\n    response: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\",\n        errn: \"\",\n        dpa: \"\",\n        pdata: \"\",\n    },\n    timeout: \"\",\n    result: \"\",\n    time: new Date()\n}\n\n\ndata.type = msg.payload.type;\n\ndata.request.nadr=parseInt(request[0], 16) + (parseInt(request[1], 16)*256);\ndata.request.pnum=parseInt(request[2], 16);\ndata.request.pcmd=parseInt(request[3], 16);\ndata.request.hwpid=parseInt(request[4], 16) + (parseInt(request[5], 16)*256);\n\ndata.response.nadr=parseInt(response[0], 16) + (parseInt(response[1], 16)*256);\ndata.response.pnum=parseInt(response[2], 16);\ndata.response.pcmd=parseInt(response[3], 16);\ndata.response.hwpid=parseInt(response[4], 16) + (parseInt(response[5], 16)*256);\ndata.response.errn=parseInt(response[6], 16);\ndata.response.dpa=parseInt(response[7], 16);\ndata.response.pdata=msg.payload.response.slice(24).trim();\ndata.timeout=msg.payload.timeout;\ndata.result=msg.payload.result;\nmsg.payload=data;\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["1ec5d602.4c9cea","5d51c6c8.6745d8"]]},{"id":"1ec5d602.4c9cea","type":"debug","z":"11af5c00.92aa14","name":"parse","active":false,"console":"false","complete":"payload","x":810,"y":60,"wires":[]},{"id":"20764445.8cf82c","type":"debug","z":"11af5c00.92aa14","name":"raw","active":true,"console":"false","complete":"payload","x":590,"y":60,"wires":[]},{"id":"5d51c6c8.6745d8","type":"link out","z":"11af5c00.92aa14","name":"","links":["cb2617c4.87c6a8"],"x":775,"y":140,"wires":[]},{"id":"9a8579cf.ab0618","type":"comment","z":"11af5c00.92aa14","name":"--------------------------------------------------------------------------------------------------------------------------------------------------------------","info":"","x":440,"y":220,"wires":[]},{"id":"bd7c4cf5.93a41","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N1 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[1] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[1].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["792ff534.56cb7c"]]},{"id":"bd8546d.7fe29b8","type":"comment","z":"11af5c00.92aa14","name":"Parsovani odpovedi z FRCu","info":"\n","x":180,"y":340,"wires":[]},{"id":"eb102cc0.10fc4","type":"function","z":"11af5c00.92aa14","name":"my Answer?","func":"if (msg.payload.data.msgId===\"testEmbedSensor\")\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":230,"y":400,"wires":[["bd7c4cf5.93a41","47923f9b.90601","17e21148.34223f","bb8887d8.3579d8","7e7c31a4.af662","5dd7c730.e84f78","62d42883.9ccb78","e57c63b5.19aad","9fbf6e30.8f0e6","166798da.32e897"]]},{"id":"792ff534.56cb7c","type":"ui_led","z":"11af5c00.92aa14","group":"86e7ebcb.2bcb68","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":400,"wires":[]},{"id":"47923f9b.90601","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N2 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[2] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[2].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":440,"wires":[["68bdcfc3.623db"]]},{"id":"17e21148.34223f","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N3 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[3] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[3].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["bbe3aa91.02a3f8"]]},{"id":"bb8887d8.3579d8","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N4 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[4] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[4].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["5b5a1c5b.985f44"]]},{"id":"7e7c31a4.af662","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N5 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[5] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[5].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":560,"wires":[["d9643a73.e295a8"]]},{"id":"5dd7c730.e84f78","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N6 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[6] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[6].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":600,"wires":[["83bd4003.8290c"]]},{"id":"62d42883.9ccb78","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N7 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[7] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[7].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":640,"wires":[["a3c96bf2.7cb028"]]},{"id":"e57c63b5.19aad","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N8 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[8] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[8].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["f17fb5a2.259cc8"]]},{"id":"9fbf6e30.8f0e6","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N9 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[9] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[9].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":720,"wires":[["36ffbec9.5b9432"]]},{"id":"166798da.32e897","type":"function","z":"11af5c00.92aa14","name":"Get FRC Response N10 - Green","func":"// green LED on device is ON\n\n\nif (msg.payload.data.rsp.result.sensors[10] === null)\n    msg.payload=\"gray\";  \nelse\n   {var value = msg.payload.data.rsp.result.sensors[10].value;\n    if (value == 1)\n        msg.payload=\"green\";   \n    else\n        msg.payload=\"red\";\n    }     \nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":760,"wires":[["4667b104.894b9"]]},{"id":"68bdcfc3.623db","type":"ui_led","z":"11af5c00.92aa14","group":"8388c66f.78b728","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":440,"wires":[]},{"id":"bbe3aa91.02a3f8","type":"ui_led","z":"11af5c00.92aa14","group":"b742bd64.a3e1e","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":480,"wires":[]},{"id":"5b5a1c5b.985f44","type":"ui_led","z":"11af5c00.92aa14","d":true,"group":"df61ebd7.77b338","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":520,"wires":[]},{"id":"d9643a73.e295a8","type":"ui_led","z":"11af5c00.92aa14","d":true,"group":"527ca275.6d051c","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":560,"wires":[]},{"id":"83bd4003.8290c","type":"ui_led","z":"11af5c00.92aa14","d":true,"group":"32cf9f80.7250e","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":600,"wires":[]},{"id":"a3c96bf2.7cb028","type":"ui_led","z":"11af5c00.92aa14","d":true,"group":"ae64799e.008508","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":640,"wires":[]},{"id":"f17fb5a2.259cc8","type":"ui_led","z":"11af5c00.92aa14","d":true,"group":"816b243b.ffae18","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":680,"wires":[]},{"id":"36ffbec9.5b9432","type":"ui_led","z":"11af5c00.92aa14","d":true,"group":"647b1697.843e08","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":720,"wires":[]},{"id":"4667b104.894b9","type":"ui_led","z":"11af5c00.92aa14","d":true,"group":"c5bdcc.ab362238","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"red","valueType":"str"},{"color":"red","value":"green","valueType":"str"},{"color":"gray","value":"gray","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":750,"y":760,"wires":[]},{"id":"69493158.a89b1","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"86e7ebcb.2bcb68","type":"ui_group","z":"","name":"Light 1","tab":"51afebb4.313724","order":2,"disp":true,"width":"2","collapse":false},{"id":"8388c66f.78b728","type":"ui_group","z":"","name":"Light 2","tab":"51afebb4.313724","order":3,"disp":true,"width":"2","collapse":false},{"id":"b742bd64.a3e1e","type":"ui_group","z":"","name":"Light 3","tab":"51afebb4.313724","order":4,"disp":true,"width":2,"collapse":false},{"id":"df61ebd7.77b338","type":"ui_group","z":"","name":"Node 4","tab":"51afebb4.313724","order":5,"disp":true,"width":"2","collapse":false},{"id":"527ca275.6d051c","type":"ui_group","z":"","name":"Node 5","tab":"51afebb4.313724","order":6,"disp":true,"width":"2","collapse":false},{"id":"32cf9f80.7250e","type":"ui_group","z":"","name":"Node 6","tab":"51afebb4.313724","order":7,"disp":true,"width":"2","collapse":false},{"id":"ae64799e.008508","type":"ui_group","z":"","name":"Node 7","tab":"51afebb4.313724","order":8,"disp":true,"width":"2","collapse":false},{"id":"816b243b.ffae18","type":"ui_group","z":"","name":"Node 8","tab":"51afebb4.313724","order":9,"disp":true,"width":"2","collapse":false},{"id":"647b1697.843e08","type":"ui_group","z":"","name":"Node 9","tab":"51afebb4.313724","order":10,"disp":true,"width":"2","collapse":false},{"id":"c5bdcc.ab362238","type":"ui_group","z":"","name":"Node 10","tab":"51afebb4.313724","order":11,"disp":true,"width":"2","collapse":false},{"id":"51afebb4.313724","type":"ui_tab","z":"","name":"Monitor","icon":"dashboard","order":9,"disabled":false,"hidden":false}]